/* These CSS rules apply to the <html>, <body>, and <div id="app"> HTML elements in index.html */
html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* Continue building out the CSS styling for your Twiddler app below! We got you started by
providing a space for you to apply styles to your app's outermost HTML element - the #app itself. */

#app {
  background-image: url("../img/clouds.jpg");
  background-size: cover;
  color: yellow;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  overflow-y: scroll;
}

.header {
  padding: 3%;
}

#title {
  margin: 0;
  text-align: center;
  color: yellow;
  font-size: 6em;
  font-family: 'Homer Simpson Revised', sans-serif;
  cursor: pointer;
}

#update-feed {
  color: black;
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: 'Homer Simpson Revised', sans-serif;
  font-size: 1.6em;
  padding: 0.4em;
  margin: 0 auto;
  background-color: white;
  border: 0.08em solid gray;
  border-radius: 10em;
  cursor: pointer;
}

#update-feed:hover {
  background-color: gray;
  color: white;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  width: 35%;
}

#new-tweet-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20em;
  width: 100%;
  border-radius: 1em;
  margin: 2%;
  color: midnightblue;
  background-color: rgba(211, 211, 211, 0.8);
}

#new-tweet {
  font-family: 'Homer Simpson Revised', sans-serif;
  color: midnightblue;
  font-size: xx-large;
  padding: 1%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#new-tweet-user {

}

#user {
  border-radius: 1em;
}

#new-tweet-message {

}

#m {
  border-radius: 1em;
}

#new-tweet-wrapper {
  text-align: center;
}

#new-tweet-button {
  display: inline-block;
  font-family: 'Homer Simpson Revised', sans-serif;
  border-radius: 1em;
  width: 40%;
  height: 100%;
  cursor: pointer;
}

#friends-list-entries {
  display: flex;
  flex-direction: column;
  height: 20em;
  width: 100%;
  align-content: space-between;
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 1em;
  margin: 2%;
  color: midnightblue;
  overflow-y: scroll;
}

#list {
  font-family: 'Homer Simpson Revised', sans-serif;
  font-size: xx-large;
  text-align: center;
  padding: 1%;
}

#friends-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style-type: none;
  padding: 1%;

}

.friend {
  padding: 1%;
  cursor: pointer;
}

#feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
}

.tweet {
  display: flex;
  flex-direction: column;
  border: solid;
  border-style: hidden;
  border-color: black;
  width: 90%;
  background-color: rgba(211, 211, 211, 0.8);
  color: midnightblue;
  flex-wrap: wrap;
  padding: 1%;
  margin: 1%;
  border-radius: 1em;
}

.tweet-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

#homer {
  border-radius: 50%;
  width: 4em;
}

.profile-photo {
  border-radius: 50%;
  width: 4em;
}

.username {
  padding-left: 1%;
  cursor: pointer;
}

.tweet-section {
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
}

.message {
  font-size: 2em;
}

.tweet-footer {
  display: flex;
}

.timestamp {

}

.icon {
  margin-left: auto;
  cursor: pointer;
}

.icon:hover {
  color: turquoise;
}

.comment:hover {
  color: magenta;
}

.retweet:hover {
  color: orange;
}

.like:hover {
  color: yellow;
}